<header>
  <div class="main-nav-container">
    <div class="row">

      <div class="col-8 nav-header ">
        <div class="row">
          <div class="col-lg-offset-1">

          </div>
          <div class="col-2 books-count">
            <div class="books-count-content row">
              <div class="col-1"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></div>
              <div class="col-offset-3"></div>
              <div class="statistic-books col-3">Books:</div>
              <div class="statistic-books-count col-1">{{countBook}}</div>
            </div>
          </div>
          <div class="col-2 categories-count">
            <div class="categories-count-content row">
              <div class="col-offset-4"></div>
              <div  class="search-categories col-3">Categories:</div>
              <div class="statistic-categories-count col-1">{{countCategories}}</div>
            </div>
          </div>
          <div class="col-5 search">
            <div class="row">
              <div class="col-offset-2"></div>
              <div class="search-book col-8">
                <label>
                  <div class="wrap-icon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  </div>
                  <input type="text" placeholder="Search">
                </label>
              </div>
            </div>

          </div>
          <div class="col-2 add-newBook">
            <div class="row">
              <div class="col-offset-1"></div>
              <button class="add-newBook-btn col-10">Add new book</button>
            </div>

          </div>
        </div>
      </div>
      <div class="col-4 navbar-right">
        <div class="row">
          <div class="col-offset-6"></div>
          <div class="col-6">
            <div class="navbar-right-user">
              <div class="user-name">Simona Lee</div>
              <img src="../../assets/img/simon.png" alt="">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>

