<header>
  <div class="main-nav-container">
    <div class="row">

      <div class="col-8 nav-header ">
        <div class="row">
          <div class="col-lg-offset-2">

          </div>
          <div class="col-8 books-count">
            <div class="books-count-content row">
              <div class="col-offset-3"></div>
              <div class="col-1"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></div>

              <div class="statistic-books col-3">Books: {{countBook}}</div>

              <div  class="search-categories col-3">Categories: {{countCategories}}</div>

            </div>
          </div>



        </div>
      </div>
      <div class="col-4 navbar-right">
        <div class="row">
          <div class="col-offset-6"></div>
          <div class="col-6">
            <div class="navbar-right-user">
              <div class="user-name">Simona Lee</div>
              <img src="../../assets/img/simon.png" alt="">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>

