<div class="sidebar-main" >
  <div class="sidebar-header">
    <i>
      <img src="../../assets/img/logo-1.png" alt="">
      <span>Books</span>
    </i>
  </div>

  <ul>
    <li>
      <div class="sidebar-home sidebar-menu">
        <div class="sidebar-menu-border"></div>
        <label>
          <span >ABC</span>
        </label><samp> Alphabet</samp>
      </div>
    </li>
    <li >
      <div class="sidebar-menu">
        <div class="sidebar-menu-border"></div>
        <label>
          <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        </label>
        <samp>Categories</samp>
      </div>
    </li>
    <li >
      <div class="sidebar-menu">
        <div class="sidebar-menu-border"></div>
        <label>
          <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
        </label>
        <samp>Sort</samp>
      </div>
    </li>
    <li >
      <div class="sidebar-menu">
        <div class="sidebar-menu-border"></div>
        <label>
          <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
        </label>
        <samp>Filtr</samp>
      </div>
    </li>
    </ul>
</div>
