<div class="sidebar-main" >
  <div class="sidebar-header">
    <i>
      <img src="../../assets/img/logo-1.png" alt="">
      <span (click)="onOpenMenuSidebar('none')">Books</span>
    </i>
  </div>

  <ul>
    <li (click)="onOpenMenuSidebar('Categories')" >
      <div class="sidebar-menu">
        <label>
          <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        </label>
        <samp>Categories</samp>

      </div>
    </li>
    <li (click)="onOpenMenuSidebar('Sort')" >
      <div class="sidebar-menu">
        <label>
          <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
        </label>
        <samp>Sort</samp>
      </div>
    </li>

    </ul>


</div>
